force-app/main/default/flows/ADD_3_Hours.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>check_Stage_If_Lost</name>
        <label>check Stage If Lost</label>
        <locationX>231</locationX>
        <locationY>70</locationY>
        <defaultConnector>
            <targetReference>Update_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_0</targetReference>
            </connector>
            <label>Check Stage</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>threehours</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.Presales_Next_Follow_up_Date__c} + (3/24)</expression>
    </formulas>
    <interviewLabel>ADD 3 Hours {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ADD 3 Hours</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>54</locationX>
        <locationY>215</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Presales_Next_Follow_up_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Notification_after_3Hr__c</field>
            <value>
                <elementReference>threehours</elementReference>
            </value>
        </inputAssignments>
        <object>Lead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0</name>
        <label>Update Lead</label>
        <locationX>317</locationX>
        <locationY>260</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Notification_after_3Hr__c</field>
        </inputAssignments>
        <object>Lead__c</object>
    </recordUpdates>
    <start>
        <locationX>580</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>check_Stage_If_Lost</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR  (3 AND 4)</filterLogic>
        <filters>
            <field>Presales_Next_Follow_up_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Presales_Next_Follow_up_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
