force-app/main/default/flows/ADD_3_Hours_on_CP_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Check_CP_Call_Meeting_Date</name>
        <label>Check CP Call &amp; Meeting Date</label>
        <locationX>540</locationX>
        <locationY>78</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CP_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Next_Call_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Next_Call_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CP_Call_Date_For_Every_3_Hours_Notification</targetReference>
            </connector>
            <label>CP Call</label>
        </rules>
        <rules>
            <name>CP_Meeting_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Next_Meeting_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Next_Meeting_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Meeting_Date_For_Every_3_Hours_Notification_0</targetReference>
            </connector>
            <label>CP Meeting Date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ADD3Hours</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.Next_Call_Date__c} + (3/24)</expression>
    </formulas>
    <formulas>
        <name>ADD3HoursforMeeting</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.Next_Meeting_Date__c} + (3/24)</expression>
    </formulas>
    <interviewLabel>ADD 3 Hours on CP Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ADD 3 Hours on CP Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_CP_Call_Date_For_Every_3_Hours_Notification</name>
        <label>Update CP Call Date For Every 3 Hours Notification</label>
        <locationX>701</locationX>
        <locationY>235</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Next_Call_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CP_Call_Notification_After_3Hr__c</field>
            <value>
                <elementReference>ADD3Hours</elementReference>
            </value>
        </inputAssignments>
        <object>CP_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meeting_Date_For_Every_3_Hours_Notification_0</name>
        <label>Update CP Meeting Date For Every 3 Hours Notification</label>
        <locationX>474</locationX>
        <locationY>292</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Next_Meeting_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CP_Meeting_Notification_After_3Hr__c</field>
            <value>
                <elementReference>ADD3HoursforMeeting</elementReference>
            </value>
        </inputAssignments>
        <object>CP_Project__c</object>
    </recordUpdates>
    <start>
        <locationX>38</locationX>
        <locationY>22</locationY>
        <connector>
            <targetReference>Check_CP_Call_Meeting_Date</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>Next_Call_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Next_Call_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Next_Meeting_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Next_Meeting_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CP_Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
