force-app/main/default/flows/Booking_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Booking Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Booking Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>UpdateRecord</name>
        <label>UpdateRecord</label>
        <locationX>810</locationX>
        <locationY>149</locationY>
        <connector>
            <targetReference>bb1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agreement_Value__c</field>
            <value>
                <elementReference>Agreement_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>All_in_Value__c</field>
            <value>
                <elementReference>All_in_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking_Date__c</field>
            <value>
                <elementReference>Booking_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Stage__c</field>
            <value>
                <stringValue>Normal Booking</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tower_Name__c</field>
            <value>
                <elementReference>Tower_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Number__c</field>
            <value>
                <elementReference>Unit_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity__c</object>
    </recordUpdates>
    <screens>
        <name>bb1</name>
        <label>b1</label>
        <locationX>845</locationX>
        <locationY>311</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>sucess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(218, 32, 32);&quot;&gt;Thankyou&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(218, 32, 32);&quot;&gt;!!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Booking1</name>
        <label>Booking1</label>
        <locationX>609</locationX>
        <locationY>173</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateRecord</targetReference>
        </connector>
        <fields>
            <name>Book1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(221, 13, 13); font-size: 16px;&quot;&gt;Booking Form&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Booking1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Booking1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Unit_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Unit Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Agreement_Value</name>
                    <dataType>Number</dataType>
                    <fieldText>Agreement Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Booking_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Booking Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Booking1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tower_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Tower Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>All_in_Value</name>
                    <dataType>Currency</dataType>
                    <fieldText>All in Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1046</locationX>
        <locationY>152</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Msg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(224, 16, 16);&quot;&gt;{!$Flow.FaultMessage} An Error Occurs while processing please contact the System Administrator&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Booking1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
