force-app/main/default/flows/Booking_Loan_Disbursed_Amount_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SourcingMangarNotification</name>
        <label>SourcingMangarNotification</label>
        <locationX>418</locationX>
        <locationY>437</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SourcingManagerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Booking Update Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>SourcingManagerAssign</name>
        <label>SourcingManagerAssign</label>
        <locationX>94</locationX>
        <locationY>347</locationY>
        <assignmentItems>
            <assignToReference>SourcingManagerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Sourcing_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Percentagecheck</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Percentagecheck</name>
        <label>Percentagecheck</label>
        <locationX>253</locationX>
        <locationY>429</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Above_30</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Pecentage</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amount Disbursed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SourcingMangarNotification</targetReference>
            </connector>
            <label>Above 30 %</label>
        </rules>
    </decisions>
    <decisions>
        <name>SourcingManagerCheck</name>
        <label>SourcingManagerCheck</label>
        <locationX>243</locationX>
        <locationY>171</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_SourcingManger_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Sourcing_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCustomNotification</targetReference>
            </connector>
            <label>IF SourcingManger Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Notification</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Loan_Status__c}, &apos;Amount Disbursed&apos;), &apos;Booking {!$Record.Name} Loan Amount has been Disbursed&apos; , &apos;We have received Agreement Value on Booking No. {!$Record.Name}.  &apos;)</expression>
    </formulas>
    <formulas>
        <name>Pecentage</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Total_Agreement_Value_Paid__c} / {!$Record.Agreement_Value__c}  *100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Percentage</name>
        <dataType>Number</dataType>
        <expression>({!$Record.Agreement_Value__c} / {!$Record.Total_Agreement_Value_Paid__c} )*100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Booking Loan Disbursed Amount Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Booking Loan Disbursed Amount Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>82</locationX>
        <locationY>169</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SourcingManagerAssign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking_Sourcing_Manager_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>459</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>SourcingManagerCheck</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Total_Agreement_Value_Paid__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Loan_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Booking__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AgreementValueMoreThan30</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Booking of {!$Record.Name} Agreement Value more than 30 Paid&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>SourcingManagerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
