force-app/main/default/flows/CP_Call_Notification_Flow_After_every_3_Hr.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Owner</name>
        <label>Notify Owner</label>
        <locationX>333</locationX>
        <locationY>296</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_CP_Project_Call</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Owner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>You Have Missed Follow Up Reminder Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>StoreOwnerId</name>
        <label>StoreOwnerId</label>
        <locationX>55</locationX>
        <locationY>451</locationY>
        <assignmentItems>
            <assignToReference>Owner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_CP_Call_Equals_to_Today</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_CP_Call_Equals_to_Today</name>
        <label>check CP Call Equals to Today</label>
        <locationX>456</locationX>
        <locationY>496</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isToday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCallDateToday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Owner</targetReference>
            </connector>
            <label>isToday</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ADD3Hrs</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.CP_Call_Notification_After_3Hr__c} + (3/24)</expression>
    </formulas>
    <formulas>
        <name>isCallDateToday</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.Next_Call_Date__c})</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>CP Call Notification Flow After every 3 Hr {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CP Call Notification Flow After every 3 Hr</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCustomNotification</name>
        <label>GetCustomNotification</label>
        <locationX>119</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>StoreOwnerId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Follow_Up_CP_Project</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CP_Project_Call</name>
        <label>Update CP Project Call</label>
        <locationX>787</locationX>
        <locationY>376</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Next_Call_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CP_Call_Notification_After_3Hr__c</field>
            <value>
                <elementReference>ADD3Hrs</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CP_Call_Notification_After_3Hr__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CP_Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>After_Every_3_Hours</name>
            <connector>
                <targetReference>GetCustomNotification</targetReference>
            </connector>
            <label>After Every 3 Hours</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CP_Call_Notification_After_3Hr__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You Missed Follow-Up for CP Call {!$Record.Name}</text>
    </textTemplates>
    <variables>
        <name>Owner</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
