force-app/main/default/flows/CP_Project_Status_Flow_for_Sitevisits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>check_Created_Date</name>
        <label>check Created Date</label>
        <locationX>15</locationX>
        <locationY>440</locationY>
        <defaultConnector>
            <targetReference>update_CP_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Booking_Created_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>check.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>CheckDays1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>check.CP_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check</targetReference>
            </connector>
            <label>Booking Created Date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CheckDays</name>
        <dataType>Date</dataType>
        <expression>Today() - ({!$Record.Project__r.No_of_Days_Booking_Active__c})</expression>
    </formulas>
    <formulas>
        <name>CheckDays1</name>
        <dataType>Date</dataType>
        <expression>TODAY() - ({!$Record.Project__r.No_of_Days_Walkin__c})</expression>
    </formulas>
    <formulas>
        <name>checkDaysWalkin</name>
        <dataType>Date</dataType>
        <expression>TODAY() - ({!$Record.Project__r.No_of_Days_Booking_Active__c})</expression>
    </formulas>
    <interviewLabel>CP Project Status Flow for Sitevisits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CP Project Status Flow for Sitevisits</label>
    <loops>
        <name>check</name>
        <label>check</label>
        <locationX>255</locationX>
        <locationY>341</locationY>
        <collectionReference>Get_All_Sitevisit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_Created_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_CP_Project_Stage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Sitevisit</name>
        <label>Get All Sitevisit</label>
        <locationX>41</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CP_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Site_Visit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_CP_Project_Stage</name>
        <label>update CP Project Stage</label>
        <locationX>25</locationX>
        <locationY>644</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Walk-In Active</stringValue>
            </value>
        </inputAssignments>
        <object>CP_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_CP_Stage</name>
        <label>update CP Stage</label>
        <locationX>374</locationX>
        <locationY>632</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>CP_Project__c</object>
    </recordUpdates>
    <start>
        <locationX>415</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Get_All_Sitevisit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CP_Project__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-01-12</startDate>
            <startTime>19:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
