force-app/main/default/flows/CP_Project_Status_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>getBookingSitecheck</name>
        <label>getBookingSitecheck</label>
        <locationX>431</locationX>
        <locationY>253</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BookingSiteIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Booking</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAllSiteVisit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_CP_Project_Stage</targetReference>
            </connector>
            <label>BookingSiteIsNull</label>
        </rules>
        <rules>
            <name>If_Booking_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Booking</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_CP_Stage_0_0_0</targetReference>
            </connector>
            <label>If Booking Not Null</label>
        </rules>
        <rules>
            <name>If_Site_Visit_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Booking</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAllSiteVisit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_CP_Stage</targetReference>
            </connector>
            <label>If Site Visit Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CheckDays</name>
        <dataType>Date</dataType>
        <expression>Today() - ({!$Record.Project__r.No_of_Days_Booking_Active__c})</expression>
    </formulas>
    <formulas>
        <name>checkDaysWalkin</name>
        <dataType>Date</dataType>
        <expression>TODAY() - ({!$Record.Project__r.No_of_Days_Booking_Active__c})</expression>
    </formulas>
    <interviewLabel>CP Project Status Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CP Project Status Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Booking</name>
        <label>Get All Booking</label>
        <locationX>55</locationX>
        <locationY>317</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAllSiteVisit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CP_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CP_Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Booking_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CheckDays</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAllSiteVisit</name>
        <label>getAllSiteVisit</label>
        <locationX>254</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getBookingSitecheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CP_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Site_Visit_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>checkDaysWalkin</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Site_Visit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_CP_Project_Stage</name>
        <label>update CP Project Stage</label>
        <locationX>694</locationX>
        <locationY>317</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>CP_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_CP_Stage</name>
        <label>update CP Stage</label>
        <locationX>278</locationX>
        <locationY>509</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Walk-In Active</stringValue>
            </value>
        </inputAssignments>
        <object>CP_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_CP_Stage_0_0_0</name>
        <label>update CP Stage</label>
        <locationX>578</locationX>
        <locationY>515</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Booking Active</stringValue>
            </value>
        </inputAssignments>
        <object>CP_Project__c</object>
    </recordUpdates>
    <start>
        <locationX>236</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>Get_All_Booking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CP_Project__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-01-16</startDate>
            <startTime>19:28:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>StoreBookingIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreSitevisitsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
