force-app/main/default/flows/Create_Registration_Record_After_Final_Approver.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>279</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>storeRegistrationId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getChargeDetails.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRegistration</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getChargeDetails.Charge_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getQuotation_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_0</name>
        <label>assign</label>
        <locationX>651</locationX>
        <locationY>447</locationY>
        <assignmentItems>
            <assignToReference>stampAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getChargeDetailsforStamp.Charge_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Registration_Record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create Registration Record After Final Approver {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Registration Record After Booking Confirmed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Registration_Record</name>
        <label>Create Registration Record</label>
        <locationX>713</locationX>
        <locationY>279</locationY>
        <inputAssignments>
            <field>Booking__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Amount__c</field>
            <value>
                <elementReference>getRegistration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Status__c</field>
            <value>
                <stringValue>Booking Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stamp_Duty_Amount__c</field>
            <value>
                <elementReference>stampAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getChargeDetails</name>
        <label>getChargeDetails</label>
        <locationX>121</locationX>
        <locationY>339</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quotation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getQuotation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Charge_Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registration Charges</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Charge_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getChargeDetailsforStamp</name>
        <label>getChargeDetailsforStamp</label>
        <locationX>521</locationX>
        <locationY>422</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quotation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getQuotation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Charge_Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stamp Duty</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Charge_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQuotation</name>
        <label>getQuotation</label>
        <locationX>88</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getChargeDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quotation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quotation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQuotation_0</name>
        <label>getQuotation</label>
        <locationX>351</locationX>
        <locationY>469</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getChargeDetailsforStamp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quotation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quotation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>340</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getQuotation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking_Stage__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Booking_Stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Booking_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking Confirmed</stringValue>
            </value>
        </filters>
        <object>Booking__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignStampDutyAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>getChargeDetailsFetch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Charge_Detail__c</objectType>
    </variables>
    <variables>
        <name>getCollectionofRegistrationAmount</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>getRegistration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RegistrationAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>stampAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>storeRegistrationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
