force-app/main/default/flows/Create_Visit_Pre_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_the_Condition</name>
        <label>Check the Condition</label>
        <locationX>456</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>SV_date_less_than_48_hrs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Lead_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLead.Visit_Confirmed_Threshold_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Visit_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLead.Lead_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visit confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MessageScreen</targetReference>
            </connector>
            <label>If Lead Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>SV_date_less_than_48_hrs</name>
        <label>SV date less than 48 hrs</label>
        <locationX>632</locationX>
        <locationY>722</locationY>
        <defaultConnector>
            <targetReference>Footer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>less_than_48_hrs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Visit_Date</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Today2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Visit_Pre_Registration</targetReference>
            </connector>
            <label>less than 48 hrs</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BudgetRange</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Budget__c</picklistField>
        <picklistObject>Visit_Pre_Registration__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Configuration_required</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Configuration_required__c</picklistField>
        <picklistObject>Visit_Pre_Registration__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Today2</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + 2</expression>
    </formulas>
    <interviewLabel>Create Visit Pre-Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Visit Pre-Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Visit_Pre_Registration</name>
        <label>Create Visit_Pre_Registration</label>
        <locationX>576</locationX>
        <locationY>941</locationY>
        <inputAssignments>
            <field>Budget__c</field>
            <value>
                <elementReference>Budget_Range</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Number__c</field>
            <value>
                <elementReference>CP_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Project__c</field>
            <value>
                <elementReference>CPProject.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Configuration_required__c</field>
            <value>
                <elementReference>Configuration_required1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>Customer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>Mobile.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Project.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SPOC__c</field>
            <value>
                <elementReference>SPOC_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Date__c</field>
            <value>
                <elementReference>Visit_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Visit_Pre_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_CP_Project</name>
        <label>Get CP Project</label>
        <locationX>456</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Pre_Registration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CP_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLead</name>
        <label>GetLead</label>
        <locationX>456</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetMatchedRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Project.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Mobile__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Mobile.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMatchedRecord</name>
        <label>GetMatchedRecord</label>
        <locationX>456</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_Condition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLead.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Pre_Registration</name>
        <label>Create Pre-Registration</label>
        <locationX>456</locationX>
        <locationY>290</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetLead</targetReference>
        </connector>
        <fields>
            <name>CPProject</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CP_Project__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>CP Project</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Visit_Pre_Registration__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Project</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Project__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Project</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>CP_Project__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>proId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Customer_Name</name>
            <dataType>String</dataType>
            <fieldText>Customer Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mobile</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Phone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Budget_Range</name>
            <choiceReferences>BudgetRange</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Budget Range</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Configuration_required1</name>
            <choiceReferences>Configuration_required</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Configuration required</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Visit_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Visit Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SPOC_Name</name>
            <dataType>String</dataType>
            <fieldText>SPOC Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CP_Number</name>
            <dataType>String</dataType>
            <fieldText>CP Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Footer</name>
        <label>Footer</label>
        <locationX>855</locationX>
        <locationY>940</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 2, 2); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;SV Date should less than 48 hours&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MessageScreen</name>
        <label>MessageScreen</label>
        <locationX>280</locationX>
        <locationY>722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(234, 4, 4); background-color: rgb(255, 255, 255);&quot;&gt;Pre-registration not allowed for this CP Project.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_CP_Project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>proId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_CP_Project.Project__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VisitPreRegistrationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
