force-app/main/default/flows/Email_Lead_Untouched_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Lead_Unattended_Email</name>
        <label>Lead Unattended Email</label>
        <locationX>851</locationX>
        <locationY>294</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Temp_Test_Resource</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectForEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyForEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Ids</name>
        <label>Assign_Ids</label>
        <locationX>318</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>Email_ID_Resource_Owner_ProjectHead_Director</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email_ID_Resource_Owner_ProjectHead_Director</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DIRECTORS_EMAIL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email_ID_Resource_Owner_ProjectHead_Director</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Project__r.Project_Head__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email_ID_Resource_Owner_ProjectHead_Director</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Project__r.Project_Head_2__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_Test_Resource</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>aashish.yadav@exceller.tech</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Last_Modified_Date_Decision</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>This is **HARD CODED** Value of Director&apos;s Email Id.</description>
        <name>DIRECTORS_EMAIL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;DIRECTORS_EMAIL&gt;@exceller.tech</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Last_Modified_Date_Decision</name>
        <label>Last Modified Date Decision</label>
        <locationX>578</locationX>
        <locationY>295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LST_MDF_DATE_GREATER_THN_TEN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date_Difference_Formula</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Unattended_Email</targetReference>
            </connector>
            <label>LST MDF DATE GREATER THN TEN</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Date_Difference_Formula</name>
        <dataType>Number</dataType>
        <expression>DATETIMEVALUE(TODAY()) - DATETIMEVALUE({!$Record.LastModifiedDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>(Email) Lead Untouched Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Email) Lead Untouched Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>458</locationX>
        <locationY>17</locationY>
        <connector>
            <targetReference>Assign_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-12-01</startDate>
            <startTime>17:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>BodyForEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You Have Not Attended Lead -&gt; {!$Record.First_Name__c} {!$Record.Last_Name__c}
Days Unattended: {!Date_Difference_Formula}.</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectForEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>URGENT: You Have An Unattended Leads!</text>
    </textTemplates>
    <variables>
        <description>Id Resource -&gt; Holds Values For Owner ID, Project Head 1 ID, Project Head 2 ID, Director&apos;s ID</description>
        <name>Email_ID_Resource_Owner_ProjectHead_Director</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>NOTE: This is a Temporary Test Resource For Testing Deployment. It Contains HARD CODED Value of Admin&apos;s Email ID.</description>
        <name>Temp_Test_Resource</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
