force-app/main/default/flows/Email_Site_Visit_Reminder_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_To_Customer</name>
        <label>Send Email To Customer</label>
        <locationX>497</locationX>
        <locationY>660</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Lead_in_order_to_Send_SMS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_Org_wide_email_addresses.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyWithoutVPCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_Customer_0</name>
        <label>Send Email To Customer</label>
        <locationX>166</locationX>
        <locationY>262</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SMS_Creation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_Org_wide_email_addresses.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Store_VP_code</name>
        <label>Store VP code</label>
        <locationX>493</locationX>
        <locationY>472</locationY>
        <assignmentItems>
            <assignToReference>VPCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Visit_Preregistration_Record.Visit_Pre_Registration_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Email_Mobile</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Email_Mobile</name>
        <label>Check Email &amp; Mobile</label>
        <locationX>377</locationX>
        <locationY>363</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mobile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SMS_Creation</targetReference>
            </connector>
            <label>Check Mobile</label>
        </rules>
        <rules>
            <name>Check_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mobile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Customer_0</targetReference>
            </connector>
            <label>Check Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Org_wide_email_is_present</name>
        <label>Check Org wide email is present</label>
        <locationX>1320</locationX>
        <locationY>517</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Org_wide_Email_is_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Org_wide_email_addresses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Org_wide_email_addresses</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Visit_Preregistration_Record</targetReference>
            </connector>
            <label>Org wide Email is present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Visit_Pre_registration_present</name>
        <label>Check Visit Pre-registration present</label>
        <locationX>745</locationX>
        <locationY>547</locationY>
        <defaultConnector>
            <targetReference>Send_Email_To_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Visit_Pre_registration_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Visit_Preregistration_Record</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_VP_code</targetReference>
            </connector>
            <label>Visit Pre-registration present</label>
        </rules>
    </decisions>
    <description>Updated Checkbox on lead for SMS help case.</description>
    <environments>Default</environments>
    <formulas>
        <name>ProposedVisitTime</name>
        <dataType>String</dataType>
        <expression>TEXT(
IF( 
VALUE(MID(TEXT( {!$Record.Presales_Proposed_Visit_Date__c} ), 12, 2 )) &gt; 12,
VALUE(MID(TEXT( {!$Record.Presales_Proposed_Visit_Date__c} ), 12, 2 )) - 12, 
IF( 
VALUE(MID(TEXT( {!$Record.Presales_Proposed_Visit_Date__c} ), 12, 2 )) &gt;= 1,
VALUE(MID(TEXT( {!$Record.Presales_Proposed_Visit_Date__c} ), 12, 2 )),
12 ))
) +
MID(TEXT( {!$Record.Presales_Proposed_Visit_Date__c} ), 14, 3 )
 +&apos; &apos;+
IF( 
VALUE(MID(TEXT( {!$Record.Presales_Proposed_Visit_Date__c}), 12, 2 )) &lt; 12,
&apos;AM&apos;,
&apos;PM&apos;)</expression>
    </formulas>
    <interviewLabel>Email : Site Visit Reminder Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email &amp; SMS: Site Visit Reminder Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>SMS_Creation</name>
        <label>SMS Creation</label>
        <locationX>12</locationX>
        <locationY>411</locationY>
        <connector>
            <targetReference>Update_Lead_in_order_to_Send_SMS</targetReference>
        </connector>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>SMSBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>Get_Visit_Preregistration_Record.Mobile_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>SMSRemarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Template_Id__c</field>
            <value>
                <stringValue>1707173856381991371</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Pre_Registration__c</field>
            <value>
                <elementReference>Get_Visit_Preregistration_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Org_wide_email_addresses</name>
        <label>Get Org wide email addresses</label>
        <locationX>1413</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Org_wide_email_is_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FromEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Visit_Preregistration_Record</name>
        <label>Get Visit Preregistration Record</label>
        <locationX>939</locationX>
        <locationY>443</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Visit_Pre_registration_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit_Pre_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_in_order_to_Send_SMS</name>
        <label>Update Lead in order to Send SMS</label>
        <locationX>50</locationX>
        <locationY>541</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IS_SMS_Send_Before_24hrs__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead__c</object>
    </recordUpdates>
    <start>
        <locationX>801</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Presales_Proposed_Visit_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsConverted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Before_24_hours_of_site_visit</name>
            <connector>
                <targetReference>Get_Org_wide_email_addresses</targetReference>
            </connector>
            <label>Before 24 hours of site visit</label>
            <offsetNumber>-24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Presales_Proposed_Visit_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.First_Name__c} {!$Record.Last_Name__c},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your site visit to {!$Record.Project__r.Name} has been confirmed for &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Presales_Proposed_Visit_Date__c}&lt;/span&gt;. Please carry your visit code &lt;strong&gt;{!VPCode}&lt;/strong&gt; and show it at the reception to avoid long waiting period. You may add the schedule to your calendar (add to calendar link)&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Location Pin: &lt;a href=&quot;https://maps.app.goo.gl/TsDUxC6qV85gFENZ8&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://maps.app.goo.gl/TsDUxC6qV85gFENZ8&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We look forward to meeting you soon.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Team Avant&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyWithoutVPCode</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.First_Name__c} {!$Record.Last_Name__c},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your site visit to {!$Record.Project__r.Name} has been confirmed for &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Presales_Proposed_Visit_Date__c}&lt;/span&gt;. You may add the schedule to your calendar (add to calendar link)&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Location Pin: &lt;a href=&quot;https://maps.app.goo.gl/TsDUxC6qV85gFENZ8&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://maps.app.goo.gl/TsDUxC6qV85gFENZ8&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We look forward to meeting you soon.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Team Avant&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SMSBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Full_Name__c},Your site visit to Avant Heritage - IV has been confirmed for {!$Record.Presales_Proposed_Visit_Date__c} at NA.  am. Please carry your visit code {!VPCode} and show it at the reception to avoid long waiting period. You may add the schedule to your calendar (add to calendar link Location Pin: NA We look forward to meeting you soon. Best Regards, Team Avant</text>
    </textTemplates>
    <textTemplates>
        <name>SMSRemarks</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SMS Trigger Point: After call successfully connected and 24 hrs before proposed visit date</text>
    </textTemplates>
    <variables>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Site Visit Scheduled</stringValue>
        </value>
    </variables>
    <variables>
        <name>FromEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>info@avantinfra.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>VPCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
