force-app/main/default/flows/Enquiry_Management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>396</locationX>
        <locationY>1174</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Enquiry Received</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Increment_Account_Enquiry_Count</name>
        <label>Increment Account Enquiry Count</label>
        <locationX>353</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>AccountEnquiryCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recipient_as_Account_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Lead_Enquiry_Count</name>
        <label>Increment Lead Enquiry Count</label>
        <locationX>881</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>LeadEnquiryCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recipient_as_Lead_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Opportunity_Enquiry_Count</name>
        <label>Increment Opportunity Enquiry Count</label>
        <locationX>617</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>OpportunityEnquiryCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recipient_as_Opportunity_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recipient_as_Account_Owner</name>
        <label>Recipient as Account Owner</label>
        <locationX>353</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account_Details.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recipient_as_Lead_Owner</name>
        <label>Recipient as Lead Owner</label>
        <locationX>881</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Lead_Details.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recipient_as_Opportunity_Owner</name>
        <label>Recipient as Opportunity Owner</label>
        <locationX>617</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Opportunity_Details.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Enquiry_Against_Account</name>
        <label>Enquiry Against Account</label>
        <locationX>584</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>Enquiry_Against_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Enquiry_Against_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Details</targetReference>
            </connector>
            <label>Is Enquiry Against Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enquiry_Against_Lead</name>
        <label>Enquiry Against Lead</label>
        <locationX>1013</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Enquiry_Against_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Details</targetReference>
            </connector>
            <label>Is Enquiry Against Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enquiry_Against_Opportunity</name>
        <label>Enquiry Against Opportunity</label>
        <locationX>815</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>Enquiry_Against_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Enquiry_Against_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a04</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Details</targetReference>
            </connector>
            <label>Is Enquiry Against Opportunity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Body</description>
        <name>Body</name>
        <dataType>String</dataType>
        <expression>&apos;New enquiry has been assigned to you from &apos;+TEXT({!$Record.Task_Identifier__c})+&apos;.&apos;</expression>
    </formulas>
    <interviewLabel>Enquiry Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enquiry Management</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>353</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Increment_Account_Enquiry_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Custom Notification</description>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>414</locationX>
        <locationY>1029</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enquiry_Assignment_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Details</name>
        <label>Get Lead Details</label>
        <locationX>881</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Increment_Lead_Enquiry_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Details</name>
        <label>Get Opportunity Details</label>
        <locationX>617</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Increment_Opportunity_Enquiry_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Details</name>
        <label>Update Account Details</label>
        <locationX>353</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Enquiry_Count__c</field>
            <value>
                <elementReference>AccountEnquiryCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Serviced__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_Enquiry_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Details</name>
        <label>Update Lead Details</label>
        <locationX>881</locationX>
        <locationY>1019</locationY>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Enquiry_Count__c</field>
            <value>
                <elementReference>LeadEnquiryCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Serviced__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_Enquiry_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Details</name>
        <label>Update Opportunity Details</label>
        <locationX>617</locationX>
        <locationY>933</locationY>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Enquiry_Count__c</field>
            <value>
                <elementReference>OpportunityEnquiryCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Serviced__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_Enquiry_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity__c</object>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Enquiry_Against_Account</targetReference>
        </connector>
        <filterFormula>AND ({!$Record.RecordType.DeveloperName} == &apos;Enquiry&apos;, {!$Record.Is_New_Lead_Created__c} == false)</filterFormula>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountEnquiryCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Get_Account_Details.Enquiry_Count__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>LeadEnquiryCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Get_Lead_Details.Enquiry_Count__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>OpportunityEnquiryCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Get_Opportunity_Details.Enquiry_Count__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>RecipientIds</description>
        <name>RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
