force-app/main/default/flows/Final_Agreement_Copy_Uploded_on_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Final Agreement Copy Uploded on Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Final Agreement Copy Uploded on Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>548</locationX>
        <locationY>278</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Agreement_Date__c</field>
            <value>
                <elementReference>Uploded_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Final_Agreement_uploaded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Registration__c</object>
    </recordUpdates>
    <screens>
        <name>Footer</name>
        <label>Footer</label>
        <locationX>383</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(221, 40, 40); background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;Please Upload the Final Agreement Document&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Footer_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Footer_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Uploded_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Uploded Date Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Footer_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Final_Agreement_Upload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload Final Agreement</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.png,.png, .pdf, .docx</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contentDocIds</name>
                        <value>
                            <elementReference>ContentDocumentId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save Document</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Footer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
