force-app/main/default/flows/Flow_Site_Visit_Fuctionality_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Flow: Site Visit Fuctionality New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow: Site Visit Fuctionality New</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account_Records</name>
        <label>Update Account Records</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Age_Group__c</field>
            <value>
                <elementReference>$Record.Age_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Annual_Income__c</field>
            <value>
                <elementReference>$Record.Annual_Income__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Pincode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Residential_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Name__c</field>
            <value>
                <elementReference>$Record.Company_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Residence_Configuration__c</field>
            <value>
                <elementReference>$Record.Current_Residence_Configuration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Resident_Status__c</field>
            <value>
                <elementReference>$Record.Current_Resident_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designation__c</field>
            <value>
                <elementReference>$Record.Designation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment_Type__c</field>
            <value>
                <elementReference>$Record.Employment_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ethnicity__c</field>
            <value>
                <elementReference>$Record.Ethnicity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Size__c</field>
            <value>
                <elementReference>$Record.Family_Size__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry__c</field>
            <value>
                <elementReference>$Record.Industry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Locality__c</field>
            <value>
                <elementReference>$Record.Locality__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marital_Status__c</field>
            <value>
                <elementReference>$Record.Marital_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nationality__c</field>
            <value>
                <elementReference>$Record.Nationality__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office_Location__c</field>
            <value>
                <elementReference>$Record.Office_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office_Pincode__c</field>
            <value>
                <elementReference>$Record.Office_Pincode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Residential_Address__c</field>
            <value>
                <elementReference>$Record.Residential_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Actual_Budget__c</field>
            <value>
                <elementReference>$Record.Actual_Budget__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Any_Pre_existing_Loans__c</field>
            <value>
                <elementReference>$Record.Any_Pre_existing_Loans__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Area_Sq_ft__c</field>
            <value>
                <elementReference>$Record.Area_Sq_Ft__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget_Range__c</field>
            <value>
                <elementReference>$Record.Budget_Range__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buying_Purpose__c</field>
            <value>
                <elementReference>$Record.Buying_Purpose__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Lead__c</field>
            <value>
                <elementReference>$Record.CP_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Project__c</field>
            <value>
                <elementReference>$Record.CP_Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <elementReference>$Record.Channel_Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Configuration_Required__c</field>
            <value>
                <elementReference>$Record.Configuration_Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Outstanding_Amount__c</field>
            <value>
                <elementReference>$Record.Current_Outstanding_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_SV_Attended_By__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_SV_Comment__c</field>
            <value>
                <elementReference>$Record.Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>$Record.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Possession_Timeframe__c</field>
            <value>
                <elementReference>$Record.Possession_Timeframe_Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Presales_Manager__c</field>
            <value>
                <elementReference>$Record.Presales_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrer_Address__c</field>
            <value>
                <elementReference>$Record.Referrer_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrer_Mobile__c</field>
            <value>
                <elementReference>$Record.Referrer_Mobile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrer_Name__c</field>
            <value>
                <elementReference>$Record.Referrer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Next_Follow_Up_Date__c</field>
            <value>
                <elementReference>$Record.Next_Follow_up_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Proposed_Visit_Date__c</field>
            <value>
                <elementReference>$Record.Proposed_Re_visit_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Description__c</field>
            <value>
                <elementReference>$Record.Source_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>$Record.Lead_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Funding__c</field>
            <value>
                <elementReference>$Record.Source_of_Funding__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sourcing_Manager__c</field>
            <value>
                <elementReference>$Record.Sourcing_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>$Record.Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Source__c</field>
            <value>
                <elementReference>$Record.Lead_Sub_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Stage_Reason__c</field>
            <value>
                <elementReference>$Record.Sub_Stage_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Stage__c</field>
            <value>
                <elementReference>$Record.Sub_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Pre_existing_Loan__c</field>
            <value>
                <elementReference>$Record.Type_of_Pre_existing_Loan__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Account_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Comments__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Comments__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Manager__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Site_Visit__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
