force-app/main/default/flows/Flow_Site_Visit_Functionality.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Is_SV_Comment</name>
        <label>Is SV Comment</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Manager_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Manager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SV_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SM_Assignment_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Closing_Manager_On_Opportunity</targetReference>
            </connector>
            <label>Sales Manager Assigned</label>
        </rules>
        <rules>
            <name>Check_SV_Comment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Comments__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Comments__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_on_SV_creation</targetReference>
            </connector>
            <label>Check SV Comment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Flow Site Visit Functionality {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Site Visit Functionality</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Is_SV_Comment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Age_Group__c</field>
            <value>
                <elementReference>$Record.Age_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City_1__c</field>
            <value>
                <elementReference>$Record.City_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Name__c</field>
            <value>
                <elementReference>$Record.Company_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_1__c</field>
            <value>
                <elementReference>$Record.Country_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Residence_Configuration__c</field>
            <value>
                <elementReference>$Record.Current_Residence_Configuration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Resident_Status__c</field>
            <value>
                <elementReference>$Record.Current_Residence_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designation__c</field>
            <value>
                <elementReference>$Record.Designation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ethnicity__c</field>
            <value>
                <elementReference>$Record.Ethnicity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Size__c</field>
            <value>
                <elementReference>$Record.Family_Size__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flat_No__c</field>
            <value>
                <elementReference>$Record.Flat_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry__c</field>
            <value>
                <elementReference>$Record.Industry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Locality_1__c</field>
            <value>
                <elementReference>$Record.Locality_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Locality__c</field>
            <value>
                <elementReference>$Record.Locality__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation__c</field>
            <value>
                <elementReference>$Record.Occupation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pincode_1__c</field>
            <value>
                <elementReference>$Record.Pincode_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pincode__c</field>
            <value>
                <elementReference>$Record.Pincode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Finance__c</field>
            <value>
                <elementReference>$Record.Source_of_Finance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State_1__c</field>
            <value>
                <elementReference>$Record.State_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>$Record.State__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Closing_Manager_On_Opportunity</name>
        <label>Update Closing Manager On Opportunity</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SV_Count__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Closing_Manager__c</field>
            <value>
                <elementReference>$Record.Sales_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Sales_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_on_SV_creation</name>
        <label>Update Opportunity on SV creation</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Actual_Budget__c</field>
            <value>
                <elementReference>$Record.Actual_Budget__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget__c</field>
            <value>
                <elementReference>$Record.Budget__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buying_Purpose__c</field>
            <value>
                <elementReference>$Record.Buying_Purpose__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Project__c</field>
            <value>
                <elementReference>$Record.CP_Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <elementReference>$Record.Channel_Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Configuration_Required__c</field>
            <value>
                <elementReference>$Record.Configuration_Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_SV_Attended_By__c</field>
            <value>
                <elementReference>$Record.Sales_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_SV_Comment__c</field>
            <value>
                <elementReference>$Record.Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Stage__c</field>
            <value>
                <elementReference>$Record.Opportunity_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Sub_stage_Reason__c</field>
            <value>
                <elementReference>$Record.Opportunity_Sub_stage_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Sub_stage__c</field>
            <value>
                <elementReference>$Record.Opportunity_Sub_stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Lost_Reason__c</field>
            <value>
                <elementReference>$Record.Other_Lost_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Possession_Timeframe_Required__c</field>
            <value>
                <elementReference>$Record.Possession_Timeframe_Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Presales_Manager__c</field>
            <value>
                <elementReference>$Record.Presales_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrer_Name__c</field>
            <value>
                <elementReference>$Record.Referrer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Next_Follow_up_Date__c</field>
            <value>
                <elementReference>$Record.Next_Follow_up_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Proposed_Visit_Date__c</field>
            <value>
                <elementReference>$Record.Proposed_Visit_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Description__c</field>
            <value>
                <elementReference>$Record.Source_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Finance__c</field>
            <value>
                <elementReference>$Record.Source_of_Finance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sourcing_Manager__c</field>
            <value>
                <elementReference>$Record.Sourcing_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3 ) OR (3 AND 4 AND 5)</filterLogic>
        <filters>
            <field>Comments__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Comments__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Manager__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Manager__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SV_Count__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <object>Site_Visit__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
