force-app/main/default/flows/Latest_project_Info_Email_to_customer_on_Presales_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_To_Customer</name>
        <label>Send Email To Customer</label>
        <locationX>664</locationX>
        <locationY>461</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Lead.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_Org_Wide_Email_Address.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>FromEmail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>info@avantinfra.com</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Email_is_present_in_ORG_Wide_Email_Addresses</name>
        <label>Check Email is present in ORG Wide Email Addresses</label>
        <locationX>341</locationX>
        <locationY>489</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_is_present_in_ORG_Wide_Email_Addresses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Org_Wide_Email_Address.Address</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Org_Wide_Email_Address.Address</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Customer</targetReference>
            </connector>
            <label>Email is present in ORG Wide Email Addresses</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_Exists_and_required_details_are_present</name>
        <label>Check Lead Exists and required details are present</label>
        <locationX>33</locationX>
        <locationY>226</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Exists_and_required_details_are_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Project__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Email__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Org_Wide_Email_Address</targetReference>
            </connector>
            <label>Lead Exists and required details are present</label>
        </rules>
    </decisions>
    <description>Modified Email Body</description>
    <environments>Default</environments>
    <interviewLabel>Email : {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email : Latest project Info Email to customer on Presales Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>172</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Lead_Exists_and_required_details_are_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Org_Wide_Email_Address</name>
        <label>Get Org Wide Email Address</label>
        <locationX>142</locationX>
        <locationY>441</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Email_is_present_in_ORG_Wide_Email_Addresses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FromEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>547</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} == &apos;Presales_Call&apos; 
&amp;&amp; ISPICKVAL({!$Record.Stage__c}, &apos;SNP&apos; )
&amp;&amp; !ISNULL({!$Record.WhatId})</filterFormula>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Hi {!Get_Lead.First_Name__c} {!Get_Lead.Last_Name__c},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Check out our latest projects that might interest you:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.avantinfra.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://www.avantinfra.com/&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Let us know if you have any questions.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Avant Group&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Explore Our Latest Projects</text>
    </textTemplates>
</Flow>
