force-app/main/default/flows/Lead_Next_Followup_Notification_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Sendnotification</name>
        <label>Sendnotification</label>
        <locationX>1143</locationX>
        <locationY>278</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotificationtype.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationbody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Lead Next Follow up Reminder</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>owner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>953</locationX>
        <locationY>283</locationY>
        <assignmentItems>
            <assignToReference>owner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sendnotification</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Lead Next Followup Notification Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Next Followup Notification Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CustomNotificationtype</name>
        <label>CustomNotificationtype</label>
        <locationX>944</locationX>
        <locationY>93</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LeadNextFollowupNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <object>Lead__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Schedule</name>
            <connector>
                <targetReference>CustomNotificationtype</targetReference>
            </connector>
            <label>Schedule</label>
            <offsetNumber>-15</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Presale_Next_Follow_up_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>notificationbody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Reminder for Lead follow up scheduled at  {!$Record.Presale_Next_Follow_up_Date__c} for {!$Record.Name}</text>
    </textTemplates>
    <variables>
        <name>owner</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
