force-app/main/default/flows/Lead_Next_Follow_up_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>lead_follow_up_notification</name>
        <label>lead follow up notification</label>
        <locationX>476</locationX>
        <locationY>414</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getleadfollowupnotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>getOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Lead Follow Up Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>getownerID</name>
        <label>getownerID</label>
        <locationX>247</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>getOwner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lead_follow_up_notification</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Lead Next Follow up notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Next Follow up notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getleadfollowupnotification</name>
        <label>getleadfollowupnotification</label>
        <locationX>217</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getownerID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead_Followup_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Presales_Next_Follow_Up_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Visit Done</stringValue>
            </value>
        </filters>
        <object>Lead__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X15_min_before</name>
            <connector>
                <targetReference>getleadfollowupnotification</targetReference>
            </connector>
            <label>15 min before</label>
            <offsetNumber>-15</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Presales_Next_Follow_Up_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You have a follow-up for {!$Record.Name}-{!$Record.Full_Name__c} in next 15 minutes.</text>
    </textTemplates>
    <variables>
        <name>getOwner</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
