force-app/main/default/flows/Loan_case_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_notification_to_banker</name>
        <label>Send notification to banker</label>
        <locationX>595</locationX>
        <locationY>436</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>New_Loan_Case_Created</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Records_1.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Loan Case Banker Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Banker</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>add_banker_userId</name>
        <label>add banker userId</label>
        <locationX>393</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>OwnerId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Tower__r.Banker__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_notification_to_banker</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Loan case Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan case Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_Loan_Case_Created</name>
        <label>New Loan Case Created</label>
        <locationX>879</locationX>
        <locationY>306</locationY>
        <inputAssignments>
            <field>Booking__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Loan_Case__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Records_1</name>
        <label>Get Records 1</label>
        <locationX>145</locationX>
        <locationY>417</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>add_banker_userId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loan_Case_Banker</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Records_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Mode_of_Funding__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Mode_of_Funding__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loan</stringValue>
            </value>
        </filters>
        <filters>
            <field>Mode_of_Funding__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Booking__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Banker</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Loan Cases Has Been Created Please check</text>
    </textTemplates>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
