force-app/main/default/flows/New_SV_Assignment_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_New_SV_Assignment_notification</name>
        <label>Send New SV Assignment notification</label>
        <locationX>728</locationX>
        <locationY>486</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getSiteVisitNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ownerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>SV Assignment Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SV_Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_to_SM</name>
        <label>Assign to SM</label>
        <locationX>512</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>ownerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Sales_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_New_SV_Assignment_notification</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>New SV Assignment Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New SV Assignment Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getSiteVisitNotification</name>
        <label>getSiteVisitNotification</label>
        <locationX>584</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_SM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SiteVisitAssignement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>461</locationX>
        <locationY>3</locationY>
        <connector>
            <targetReference>getSiteVisitNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Manager__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Site_Visit__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SalesHeadNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New SV {!$Record.First_Name__c}  {!$Record.Last_Name__c} ID {!$Record.Id}  for project {!$Record.Project_Name__r.Name} has been assigned to  {!$Record.Sales_Manager__r.FirstName}  {!$Record.Sales_Manager__r.LastName}. Source of the Visit is {!$Record.Lead_Source__c}.&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>SV_Notification_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Site Visit Assigned :-
Customer Name :{!$Record.Opportunity__r.Name}
Configuration Required:{!$Record.Configuration_Required__c}
Budget: {!$Record.Budget__c}
Possession Time Frame : {!$Record.Possession_Timeframe_Required__c}
Source: {!$Record.Lead_Source__c}
Sourcing Manager :{!$Record.Sourcing_Manager__c}</text>
    </textTemplates>
    <variables>
        <name>ownerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesHeadIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
