force-app/main/default/flows/Ola_Executive_update_on_Ola_Pickup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notification_to_ola_owner</name>
        <label>Notification to ola owner</label>
        <locationX>961</locationX>
        <locationY>908</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Owner1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>OlaSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>OlaBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_owner</name>
        <label>Assign owner</label>
        <locationX>936</locationX>
        <locationY>794</locationY>
        <assignmentItems>
            <assignToReference>Owner1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_to_ola_owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Ola_Executive_update_on_Ola_Pickup_Check</name>
        <label>Ola Executive update on Ola Pickup Check</label>
        <locationX>916</locationX>
        <locationY>187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_if_lead_or_CP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Visit_Pre_Registration__r.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Visit_Pre_Registration__r.Project__r.Ola_Executive__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Record</targetReference>
            </connector>
            <label>check if lead is exists</label>
        </rules>
        <rules>
            <name>Check_if_CP_Project_is_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Visit_Pre_Registration__r.CP_Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Ola_owner_from_CP_Project</targetReference>
            </connector>
            <label>Check if CP Project is exists</label>
        </rules>
        <rules>
            <name>Check_if_opportunity_is_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Project__r.Ola_Executive__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ola_owner_update_from_opportunity</targetReference>
            </connector>
            <label>Check if opportunity is exists</label>
        </rules>
    </decisions>
    <description>It is used when ola pickup record is created it will change the owner from  project Ola Excecutive</description>
    <environments>Default</environments>
    <formulas>
        <name>Owner</name>
        <dataType>String</dataType>
        <expression>{!$Record.OwnerId}</expression>
    </formulas>
    <interviewLabel>Ola Executive update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ola Executive update on Ola Pickup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Notification</name>
        <label>Get Notification</label>
        <locationX>935</locationX>
        <locationY>654</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ola_Pickup_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Ola_owner_update_from_opportunity</name>
        <label>Ola owner update from opportunity</label>
        <locationX>1172</locationX>
        <locationY>453</locationY>
        <connector>
            <targetReference>Get_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Opportunity__r.Project__r.Ola_Executive__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ola_owner_from_CP_Project</name>
        <label>Update Ola owner from CP Project</label>
        <locationX>1017</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Get_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Visit_Pre_Registration__r.CP_Project__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Record</name>
        <label>update Record</label>
        <locationX>799</locationX>
        <locationY>459</locationY>
        <connector>
            <targetReference>Get_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Visit_Pre_Registration__r.Project__r.Ola_Executive__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Ola_Pickup__c</object>
    </recordUpdates>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Ola_Executive_update_on_Ola_Pickup_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Ola_Pickup__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>OlaBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An Ola pickup has been assigned to you.</text>
    </textTemplates>
    <textTemplates>
        <name>OlaSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>OLA Pickup Assignment Notification</text>
    </textTemplates>
    <variables>
        <name>OlaPickupOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Owner1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
