force-app/main/default/flows/Send_Email_To_CRM_Head.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_To_CRM_Head</name>
        <label>Send Email To CRM Head</label>
        <locationX>821</locationX>
        <locationY>401</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Booking__r.CRM_Head__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Organization_wide_From_Email_Address.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Send Email To CRM Head</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>

Your Call is Rescheduled



Best regards,

Avant Sales Team</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <constants>
        <name>FromEmail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>info@avantinfra.com</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_CRM_Head_IsActive</name>
        <label>Check CRM Head IsActive ?</label>
        <locationX>226</locationX>
        <locationY>111</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Booking__r.CRM_Head__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Booking__r.CRM_Head__r.IsActive</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Booking__r.CRM_Head__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Organization_wide_From_Email_Address</targetReference>
            </connector>
            <label>Is Active ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email_is_present_in_ORG_Wide_Email_Addresses</name>
        <label>Check Email is present in ORG Wide Email Addresses</label>
        <locationX>555</locationX>
        <locationY>385</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_is_present_in_ORG_Wide_Email_Addresses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Organization_wide_From_Email_Address.Address</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Organization_wide_From_Email_Address.Address</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_CRM_Head</targetReference>
            </connector>
            <label>Email is present in ORG Wide Email Addresses</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Email To CRM Head {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email To CRM Head</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Organization_wide_From_Email_Address</name>
        <label>Organization-wide From Email Address</label>
        <locationX>308</locationX>
        <locationY>331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Email_is_present_in_ORG_Wide_Email_Addresses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FromEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>624</locationX>
        <locationY>29</locationY>
        <connector>
            <targetReference>Check_CRM_Head_IsActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Registration_Stage__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Registration_Stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Registration_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registration Rescheduled</stringValue>
            </value>
        </filters>
        <object>Registration__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
