force-app/main/default/flows/Send_Mail_to_Sales_Head_Sales_Manager_after_Checklist_Rejected.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_mail</name>
        <label>send mail to sales manager</label>
        <locationX>731</locationX>
        <locationY>423</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>send_mail_to_sales_Head</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SalesManagerMail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Welcome Call Checklist Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templatebody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>send_mail_to_sales_Head</name>
        <label>send mail to sales Head</label>
        <locationX>999</locationX>
        <locationY>412</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SalesHead</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Welcome Call Checklist Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templatebody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assign_template_body</name>
        <label>assign template body</label>
        <locationX>596</locationX>
        <locationY>448</locationY>
        <assignmentItems>
            <assignToReference>TextBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>description_descision</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getWelcomecall1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getWelcomeCallDetails</name>
        <label>getWelcomeCallDetails</label>
        <locationX>455</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>getDecisionValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getWelcomecall1.Decision__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getDescriptionvalue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getWelcomecall1.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>linebreak</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>addLineBreakFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_template_body</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CHECK_SALES_MANAGER</name>
        <label>CHECK SALES MANAGER</label>
        <locationX>1038</locationX>
        <locationY>199</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CHECK_SALES_MANAGER1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Welcome_Call_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Welcome call pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Welcome_Call_Done__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_mail</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>CHECK SALES MANAGER</label>
        </rules>
    </decisions>
    <description>It is used when welcome call checklist has been rejected by CRM manager</description>
    <environments>Default</environments>
    <formulas>
        <name>addLineBreakFormula</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>description_descision</name>
        <dataType>String</dataType>
        <expression>{!getWelcomecall1.Description__c} &amp; &quot; - &quot; &amp; TEXT({!getWelcomecall1.Decision__c}) &amp;  {!addLineBreakFormula}</expression>
    </formulas>
    <formulas>
        <name>SalesHead</name>
        <dataType>String</dataType>
        <expression>{!$Record.Booking_Approver__r.Email}</expression>
    </formulas>
    <formulas>
        <name>SalesManagerMail</name>
        <dataType>String</dataType>
        <expression>{!$Record.Opportunity__r.Owner:User.Email}</expression>
    </formulas>
    <interviewLabel>Send Mail to Sales Head &amp; Sales Manager after Checklist Rejected {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Mail to Sales Head &amp; Sales Manager after Checklist Rejected</label>
    <loops>
        <name>getWelcomecall1</name>
        <label>getWelcomecall</label>
        <locationX>234</locationX>
        <locationY>371</locationY>
        <collectionReference>getWelcomeCall</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getWelcomeCallDetails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CHECK_SALES_MANAGER</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getWelcomeCall</name>
        <label>getWelcomeCall</label>
        <locationX>490</locationX>
        <locationY>268</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getWelcomecall1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Welcome_Call_Checklist__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>72</locationX>
        <locationY>5</locationY>
        <connector>
            <targetReference>getWelcomeCall</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Welcome_Call_Done__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Welcome_Call_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Welcome_Call_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Welcome call pending</stringValue>
            </value>
        </filters>
        <object>Booking__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>addlinebreak</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI Adjusted&amp;quot;, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Liberation Sans&amp;quot;, sans-serif; color: rgb(12, 13, 14);&quot;&gt;BR() &lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>templatebody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Booking No: {!$Record.Name}
{!TextBody}</text>
    </textTemplates>
    <variables>
        <name>getDecisionValue</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getDescriptionvalue</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getWelcomeDetails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>linebreak</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TextBody</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
