force-app/main/default/flows/Site_Visit_Functionality.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Is_Sales_Manager_Comments_Filled</name>
        <label>Is Sales Manager Comments Filled</label>
        <locationX>654</locationX>
        <locationY>479</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Manager_Comments_Filled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Comment__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Comment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Details</targetReference>
            </connector>
            <label>Sales Manager Comments Filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SalesManager_Assigned</name>
        <label>Is SalesManager Assigned</label>
        <locationX>456</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>Is_Sales_Manager_Comments_Filled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Manager_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Manager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Site_Visit_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Sales_Manager</targetReference>
            </connector>
            <label>Sales Manager Assigned</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Site Visit Functionality {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Site Visit Functionality</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account_Details</name>
        <label>Update Account Details</label>
        <locationX>522</locationX>
        <locationY>587</locationY>
        <connector>
            <targetReference>Update_Opportunity_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Age__c</field>
            <value>
                <elementReference>$Record.Age__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Pincode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Street_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Building__c</field>
            <value>
                <elementReference>$Record.Building__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Name__c</field>
            <value>
                <elementReference>$Record.Company_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Residence_Configuration__c</field>
            <value>
                <elementReference>$Record.Current_Residence_Configuration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Designation__c</field>
            <value>
                <elementReference>$Record.Designation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>House_No__c</field>
            <value>
                <elementReference>$Record.House_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Locality__c</field>
            <value>
                <elementReference>$Record.Locality__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Martial_Status__c</field>
            <value>
                <elementReference>$Record.Martial_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation__c</field>
            <value>
                <elementReference>$Record.Occupation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Occupation__c</field>
            <value>
                <elementReference>$Record.Other_Occupation__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Details</name>
        <label>Update Opportunity Details</label>
        <locationX>522</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Budget__c</field>
            <value>
                <elementReference>$Record.Budget__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buying_Purpose__c</field>
            <value>
                <elementReference>$Record.Buying_Purpose__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <elementReference>$Record.Channel_Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Configuration_Required__c</field>
            <value>
                <elementReference>$Record.Configuration_Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Residence_Configuration__c</field>
            <value>
                <elementReference>$Record.Current_Residence_Configuration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Customer_With_Family__c</field>
            <value>
                <elementReference>$Record.Is_Customer_with_Family__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_SV_Comment__c</field>
            <value>
                <elementReference>$Record.Comment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_SV_attended_by__c</field>
            <value>
                <elementReference>$Record.Sales_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_Source__c</field>
            <value>
                <elementReference>$Record.Master_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Possession_Timeframe_Required__c</field>
            <value>
                <elementReference>$Record.Possession_Timeframe_Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Type__c</field>
            <value>
                <elementReference>$Record.Project_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Next_Follow_up_Date__c</field>
            <value>
                <elementReference>$Record.Next_Follow_up_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Proposed_Visit_Date__c</field>
            <value>
                <elementReference>$Record.Proposed_Revisit_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Finance_Source_of_Finance__c</field>
            <value>
                <elementReference>$Record.Source_of_Finance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sourcing_Managers__c</field>
            <value>
                <elementReference>$Record.Sourcing_Managers__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>$Record.Opportunity_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Stage_Reason__c</field>
            <value>
                <elementReference>$Record.Sub_Stage_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Stage__c</field>
            <value>
                <elementReference>$Record.Sub_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Sales_Manager</name>
        <label>Update Opportunity Sales Manager</label>
        <locationX>258</locationX>
        <locationY>479</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Site_Visit_Count__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_Manager__c</field>
            <value>
                <elementReference>$Record.Sales_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity__c</object>
    </recordUpdates>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Is_SalesManager_Assigned</targetReference>
        </connector>
        <object>Site_Visit__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
