force-app/main/default/flows/Start_Connect_Enquiry_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notfication</name>
        <label>Send Notfication</label>
        <locationX>494</locationX>
        <locationY>367</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ownerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Start Connect Notification Received Enquiry</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AddAssignment</name>
        <label>AddAssignment</label>
        <locationX>232</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>ownerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notfication</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Start Connect Enquiry Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Start Connect Enquiry Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>146</locationX>
        <locationY>84</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>StartNotificationCall</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>465</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>getCustomNotification</targetReference>
        </connector>
        <filterFormula>AND (OR({!$Record.RecordType.DeveloperName} == &quot;Presales_Call&quot;,  ({!$Record.RecordType.DeveloperName} == &quot;Sales_Call&quot; )) ,  NOT(ISBLANK(TEXT({!$Record.Starconnect_Sub_stage__c}))))</filterFormula>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Notification Received From Start Connect 
Name : {!$Record.Name__c}
Start Connect Sub Stage: {!$Record.Starconnect_Sub_stage__c}</text>
    </textTemplates>
    <variables>
        <name>ownerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
