force-app/main/default/flows/Update_CP_Document_CheckList.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Check_The_Document_Type</name>
        <label>Check The Document Type</label>
        <locationX>464</locationX>
        <locationY>312</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pancard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pan Card</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_pan</targetReference>
            </connector>
            <label>Pancard</label>
        </rules>
        <rules>
            <name>GST_Registration_Certificate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GST Registration Certificate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GST_Certificate</targetReference>
            </connector>
            <label>GST Registration Certificate</label>
        </rules>
        <rules>
            <name>RERA_Certificate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RERA Certificate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Rera</targetReference>
            </connector>
            <label>RERA Certificate</label>
        </rules>
        <rules>
            <name>RERACompetencyCertificate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RERA Competency Certificate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RERA_Competency_Certificate</targetReference>
            </connector>
            <label>RERA Competency Certificate</label>
        </rules>
        <rules>
            <name>Aadhar_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aadhaar Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Aadhar</targetReference>
            </connector>
            <label>Aadhar Card</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update CP Document CheckList {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update CP Document CheckList</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>GST_Certificate</name>
        <label>GST Certificate</label>
        <locationX>142</locationX>
        <locationY>360</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CP_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GST_Registration_Certificate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>RERA_Competency_Certificate</name>
        <label>RERA Competency Certificate</label>
        <locationX>707</locationX>
        <locationY>439</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CP_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RERA_Competency_Certificate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Aadhar</name>
        <label>Update Aadhar</label>
        <locationX>376</locationX>
        <locationY>396</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CP_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Aadhar_Uploded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_pan</name>
        <label>update pan</label>
        <locationX>812</locationX>
        <locationY>310</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CP_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PAN_Card__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rera</name>
        <label>Update Rera</label>
        <locationX>106</locationX>
        <locationY>158</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CP_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RERA_Certificate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>351</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>Check_The_Document_Type</targetReference>
        </connector>
        <object>Document__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
