force-app/main/default/flows/Update_Booking_Stage_Booking_Confirmed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_Booking_Status</name>
        <label>Check Booking Status</label>
        <locationX>226</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Booking_checklist_records.Checklist_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved by RM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Booking_checklist_records</targetReference>
            </connector>
            <label>If Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Checklist_Status</name>
        <label>Check Checklist Status</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Approved_by_RM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Checklist_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved by RM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_checklist_records</targetReference>
            </connector>
            <label>If Approved by RM</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Booking Stage Booking Confirmed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Booking Stage Booking Confirmed</label>
    <loops>
        <name>Loop_Over_Booking_checklist_records</name>
        <label>Loop Over Booking checklist records</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>get_checklist_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Booking_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_booking_to_booking_confirmed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_checklist_records</name>
        <label>get checklist records</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Booking_checklist_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Booking__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Booking_Checklist__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_booking_to_booking_confirmed</name>
        <label>update booking to booking confirmed</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Booking__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Booking_Stage__c</field>
            <value>
                <stringValue>Booking Confirmed</stringValue>
            </value>
        </inputAssignments>
        <object>Booking__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Checklist_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Checklist_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Checklist_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Booking_Checklist__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
