force-app/main/default/flows/Update_Visit_Pregistration_Details_on_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>IF_Lead</name>
        <label>IF Lead</label>
        <locationX>597</locationX>
        <locationY>192</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Lead_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Record</targetReference>
            </connector>
            <label>If Lead Not Null</label>
        </rules>
        <rules>
            <name>If_CP_lead_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CP_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CP_Lead</targetReference>
            </connector>
            <label>If CP lead Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ExpiryDateHours</name>
        <dataType>Date</dataType>
        <expression>TODAY() + {!$Record.Pre_Registration_Validity_In_Hours__c}</expression>
    </formulas>
    <interviewLabel>Update Visit Pregistration Details on Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Visit Pregistration Details on Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_CP_Lead</name>
        <label>Update CP Lead</label>
        <locationX>652</locationX>
        <locationY>475</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CP_Lead__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Budget_Range__c</field>
            <value>
                <elementReference>$Record.Budget_Range__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Configuration_Required__c</field>
            <value>
                <elementReference>$Record.Configuration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>$Record.Mobile_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Visit_Date__c</field>
            <value>
                <elementReference>$Record.Site_Visit_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>CP_Lead__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Record</name>
        <label>Update Lead Record</label>
        <locationX>1053</locationX>
        <locationY>218</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Budget_Range__c</field>
            <value>
                <elementReference>$Record.Budget_Range__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Configuration_Required__c</field>
            <value>
                <elementReference>$Record.Configuration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>$Record.Mobile_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Presales_Proposed_Visit_Date__c</field>
            <value>
                <elementReference>$Record.Site_Visit_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead__c</object>
    </recordUpdates>
    <start>
        <locationX>93</locationX>
        <locationY>69</locationY>
        <connector>
            <targetReference>IF_Lead</targetReference>
        </connector>
        <filterFormula>OR(
    AND(
        ISNEW(),
        ISBLANK({!$Record.Mobile_Number__c}) == false
    ),
    OR(
        ISCHANGED({!$Record.Mobile_Number__c}),
        ISCHANGED({!$Record.Configuration__c}),
        ISCHANGED({!$Record.Budget_Range__c}),
        ISCHANGED({!$Record.Site_Visit_Date__c})
    )
)</filterFormula>
        <object>Visit_Pre_Registration__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ExpiryDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
