force-app/main/default/flows/Update_Documents_Checkbox_Field_when_Document_is_Uploaded_on_Channel_Partner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Check_The_Document_Type</name>
        <label>Check The Document Type</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pan_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pan Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pan</targetReference>
            </connector>
            <label>Pan Card</label>
        </rules>
        <rules>
            <name>GST_Registration_Certificate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GST Registration Certificate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GST_Registration_Certificate</targetReference>
            </connector>
            <label>GST Registration Certificate</label>
        </rules>
        <rules>
            <name>RERA_Competency_Certificate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RERA Competency Certificate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RERA_Competency_Certificate</targetReference>
            </connector>
            <label>RERA Competency  Certificate</label>
        </rules>
        <rules>
            <name>RERA_Certificate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RERA Certificate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RERA_Certificate</targetReference>
            </connector>
            <label>RERA Certificate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Documents Checkbox Field when Document is Uploaded on Channel Partner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Documents Checkbox Field when Document is Uploaded on Channel Partner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_GST_Registration_Certificate</name>
        <label>Update GST Registration Certificate</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Channel_Partner__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_GST_Registration_Certificate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Channel_Partner__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pan</name>
        <label>Update Pan</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Channel_Partner__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_PAN_Card__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Channel_Partner__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RERA_Certificate</name>
        <label>Update RERA Certificate</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Channel_Partner__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_RERA_Certificate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Channel_Partner__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RERA_Competency_Certificate</name>
        <label>Update RERA Competency  Certificate</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Channel_Partner__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_RERA_Competency_Certificate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Channel_Partner__c</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_The_Document_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Channel_Partner__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Uploaded__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Uploaded__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Document__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
