force-app/main/default/flows/Update_CP_Document_CheckList.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_The_Document_Type</name>
        <label>Check The Document Type</label>
        <locationX>545</locationX>
        <locationY>357</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pancard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pan Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_pan</targetReference>
            </connector>
            <label>Pancard</label>
        </rules>
        <rules>
            <name>GST_Registration_Certificate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GST Registration Certificate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GST_Certificate</targetReference>
            </connector>
            <label>GST Registration Certificate</label>
        </rules>
        <rules>
            <name>RERA_Certificate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RERA Certificate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Rera</targetReference>
            </connector>
            <label>RERA Certificate</label>
        </rules>
        <rules>
            <name>Passport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Document_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Passport</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Passport</targetReference>
            </connector>
            <label>Passport</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update CP Document Checklist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update CP Document Checklist</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>GST_Certificate</name>
        <label>GST Certificate</label>
        <locationX>849</locationX>
        <locationY>262</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CP_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GST_Registration_Certificate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_pan</name>
        <label>update pan</label>
        <locationX>199</locationX>
        <locationY>382</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CP_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PAN_Card__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Passport</name>
        <label>Update Passport</label>
        <locationX>857</locationX>
        <locationY>430</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CP_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Passport__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rera</name>
        <label>Update Rera</label>
        <locationX>184</locationX>
        <locationY>135</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CP_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RERA_Certificate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>396</locationX>
        <locationY>5</locationY>
        <connector>
            <targetReference>Check_The_Document_Type</targetReference>
        </connector>
        <object>Document__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
