force-app/main/default/flows/Visit_Pre_Registration_from_Lead_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Ola_Executive_Notification</name>
        <label>Ola Executive Notification</label>
        <locationX>682</locationX>
        <locationY>1454</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Custom_Notification_for_ola_pickup.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OlaExecutiveId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Ola Pickup Assignment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>OlaID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>OlaExecutive</name>
        <label>OlaExecutive</label>
        <locationX>682</locationX>
        <locationY>1346</locationY>
        <assignmentItems>
            <assignToReference>OlaExecutiveId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Lead.Project__r.Ola_Executive__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ola_Executive_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_Condition</name>
        <label>Check the Condition</label>
        <locationX>616</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>SV_date_less_than_48_hrs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Lead_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLead.Visit_Confirmed_Threshold_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Visit_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLead.Lead_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visit confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MessageScreen</targetReference>
            </connector>
            <label>If Lead Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ola_Pickup_Decision</name>
        <label>Ola Pickup Decision</label>
        <locationX>672</locationX>
        <locationY>991</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Ola_Pickup_Facility_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ola_Pickup_Facility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Ola_Pickup</targetReference>
            </connector>
            <label>If Ola Pickup Facility Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SV_date_less_than_48_hrs</name>
        <label>SV date less than 48 hrs</label>
        <locationX>814</locationX>
        <locationY>722</locationY>
        <defaultConnector>
            <targetReference>Footer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>less_than_48_hrs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Visit_Date</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Today2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Visit_Pre_Registration</targetReference>
            </connector>
            <label>less than 48 hrs</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BudgetRange</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Budget__c</picklistField>
        <picklistObject>Visit_Pre_Registration__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Configuration_required</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Configuration_required__c</picklistField>
        <picklistObject>Visit_Pre_Registration__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OlaPickupFaciltiy</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ola_Pickup_Facility__c</picklistField>
        <picklistObject>Visit_Pre_Registration__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FirstandLastName</name>
        <dataType>String</dataType>
        <expression>{!Get_Lead.First_Name__c} +&quot;  &quot; + {!Get_Lead.Last_Name__c}</expression>
    </formulas>
    <formulas>
        <name>OlaExecutiveName</name>
        <dataType>String</dataType>
        <expression>{!Get_Lead.Project__r.Ola_Executive__r.Name}</expression>
    </formulas>
    <formulas>
        <name>OlaPickUpOwnerId</name>
        <dataType>String</dataType>
        <expression>{!Get_Lead.Project__r.Ola_Executive__c}</expression>
    </formulas>
    <formulas>
        <name>Today2</name>
        <dataType>DateTime</dataType>
        <expression>NOW()+2</expression>
    </formulas>
    <interviewLabel>Visit Pre-Registration from Lead 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Visit Pre-Registration from Lead 1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Ola_Pickup</name>
        <label>Create Ola Pickup</label>
        <locationX>682</locationX>
        <locationY>1130</locationY>
        <assignRecordIdToReference>OlaID</assignRecordIdToReference>
        <connector>
            <targetReference>Custom_Notification_for_ola_pickup</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Lead.Project__r.Ola_Executive__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pickup_Datetime__c</field>
            <value>
                <elementReference>Pickup_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pickup_Location__c</field>
            <value>
                <elementReference>Pickup_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pickup_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Pre_Registration__c</field>
            <value>
                <elementReference>New_VPR_RecordID</elementReference>
            </value>
        </inputAssignments>
        <object>Ola_Pickup__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Visit_Pre_Registration</name>
        <label>Create Visit_Pre_Registration</label>
        <locationX>682</locationX>
        <locationY>830</locationY>
        <assignRecordIdToReference>New_VPR_RecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Ola_Pickup_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Budget__c</field>
            <value>
                <elementReference>Budget_Range</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Configuration_required__c</field>
            <value>
                <elementReference>Configuration_required1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>Customer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Lead_name.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>Get_Lead.Mobile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ola_Pickup_Facility__c</field>
            <value>
                <elementReference>Ola_Pickup_Facility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pickup_Datetime__c</field>
            <value>
                <elementReference>Pickup_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pickup_Location__c</field>
            <value>
                <elementReference>Pickup_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Project.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Date__c</field>
            <value>
                <elementReference>Visit_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Visit_Pre_Registration__c</object>
    </recordCreates>
    <recordLookups>
        <name>Custom_Notification_for_ola_pickup</name>
        <label>Custom Notification for ola pickup</label>
        <locationX>682</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OlaExecutive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ola_Pickup_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>616</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Pre_Registration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLead</name>
        <label>GetLead</label>
        <locationX>616</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetMatchedRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Project.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Mobile__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Mobile__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMatchedRecord</name>
        <label>GetMatchedRecord</label>
        <locationX>616</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_Condition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLead.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Pre_Registration</name>
        <label>Create Pre-Registration</label>
        <locationX>616</locationX>
        <locationY>290</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetLead</targetReference>
        </connector>
        <fields>
            <name>Lead_name</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Lead__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Visit_Pre_Registration__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Project</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Project__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Project</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Visit_Pre_Registration__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>proId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Customer_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>FirstandLastName</elementReference>
            </defaultValue>
            <fieldText>Customer Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Budget_Range</name>
            <choiceReferences>BudgetRange</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Budget_Range__c</elementReference>
            </defaultValue>
            <fieldText>Budget Range</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Configuration_required1</name>
            <choiceReferences>Configuration_required</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Configuration_Required__c</elementReference>
            </defaultValue>
            <fieldText>Configuration required</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Visit_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Visit Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ola_Pickup_Facility</name>
            <choiceReferences>OlaPickupFaciltiy</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>No</stringValue>
            </defaultValue>
            <fieldText>Ola Pickup Facility</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pickup_Location</name>
            <fieldText>Pickup Location</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Ola_Pickup_Facility</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pickup_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Pickup Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Ola_Pickup_Facility</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Footer</name>
        <label>Footer</label>
        <locationX>893</locationX>
        <locationY>920</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Date_Error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 2, 2); font-size: 18px;&quot;&gt;SV Date should less than 48 hours&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MessageScreen</name>
        <label>MessageScreen</label>
        <locationX>418</locationX>
        <locationY>722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(234, 4, 4); background-color: rgb(255, 255, 255);&quot;&gt;Pre-registration not allowed for this CP Project.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotificationTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Ola Pickup for {!OlaExecutiveName} has been assigned to you.</text>
    </textTemplates>
    <variables>
        <name>LeadRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_VPR_RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OlaExecutiveId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OlaID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Lead.Mobile__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>proId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Lead.Project__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VisitPreRegistrationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
