force-app/main/default/flows/When_Lead_Stage_is_Changes_Hit_SMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Lead_Stage</name>
        <label>Lead Stage</label>
        <locationX>621</locationX>
        <locationY>331</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Propspect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospects</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SMS_Creation</targetReference>
            </connector>
            <label>Propspect</label>
        </rules>
        <rules>
            <name>SNP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SNP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Stage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mobile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>SNP</label>
        </rules>
        <rules>
            <name>Visit_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Stage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visit confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mobile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SMS_Creation_For_Visit_Confirmed</targetReference>
            </connector>
            <label>Visit Confirmed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>When Lead Stage is Changes Hit SMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>When Lead Stage is Changes Hit SMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>SMS_Creation</name>
        <label>SMS Creation</label>
        <locationX>244</locationX>
        <locationY>330</locationY>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>SMSBodyForProspect</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>RemarksProspect</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Template_Id__c</field>
            <value>
                <stringValue>1707173255065216866</stringValue>
            </value>
        </inputAssignments>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SMS_Creation_For_Visit_Confirmed</name>
        <label>SMS Creation For Visit Confirmed</label>
        <locationX>1009</locationX>
        <locationY>314</locationY>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>VisitConfirmedMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>VisitRemarks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Template_Id__c</field>
            <value>
                <stringValue>1707173255071952011</stringValue>
            </value>
        </inputAssignments>
        <object>SMS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>465</locationX>
        <locationY>19</locationY>
        <connector>
            <targetReference>Lead_Stage</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Lead_Stage__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospects</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SNP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Visit confirmed</stringValue>
            </value>
        </filters>
        <object>Lead__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>RemarksBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SMS Trigger Point: When Lead Stage is SNP</text>
    </textTemplates>
    <textTemplates>
        <name>RemarksProspect</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SMS Trigger Point: When Lead Stage is Propspect</text>
    </textTemplates>
    <textTemplates>
        <name>SMSBodyForProspect</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {{Customer&apos;s Name}}, Thank you for your continued interest in the property. You are a few steps away from your dream house. Lets Schedule your visit by proposing Date &amp; Time. Looking forward to your response. Avants Group</text>
    </textTemplates>
    <textTemplates>
        <name>SMSBodyforSNP</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!$Record.First_Name__c} {!$Record.Last_Name__c}, Thank you for your continued interest in the property. You are a few steps away from your dream house. Lets Schedule your visit by proposing Date &amp; Time. Looking forward to your response. Avants Group</text>
    </textTemplates>
    <textTemplates>
        <name>VisitConfirmedMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {{Customer&apos;s Name}}, Thank you for scheduling a site visit! We’ve confirmed your appointment for {{Date}} at {{Time}} for {{project name}} at {{address with location link}}. Our team will be there to assist you and ensure everything goes smoothly. If you need to make any changes or have any specific requests for the visit, feel free to let us know. Looking forward to meeting you! {{Owner}}, Avants Group</text>
    </textTemplates>
    <textTemplates>
        <name>VisitRemarks</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SMS Trigger Point: Visit Confirmation Message</text>
    </textTemplates>
</Flow>
